@charset "UTF-8";

/*The :root CSS pseudo-class matches the root element of
 a tree representing the document. 
 In HTML, :root represents the <html> element 
 and is identical to the selector html, 
 except that its specificity is higher.*/

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #10c26c;
  --accent-color: #9625cc;
  --dark-color: #157547;
  --text-bright-color: #fff;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  margin: 0; /* as big as possible fitting frame */
  padding: 0;
  width: 100%;
  height: 100%;
}

.navigation {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 15px;
  padding-right: 15px;
  height: 10vh;

}
.navigation a{
  color: #919191;
  font-size: 14px;
}

.navigation_brand img{
  width: 50px;
  height: 50px;
}

.navigation_menu1 ul {
  margin: 0;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.navigation_menu2 ul{
  margin: 0;
}
.navigation li {
  list-style: none;
  text-align: -webkit-match-parent;
  display: inline-block;
}
.navigation a {
  display: flex;
  flex-direction: column;
  text-decoration: none !important;
  padding: 10px;

}
.navigation a:hover {
  color: var(--accent-color);
  transition: ease 0.2s;
}

.navigation_menu2 a{
  font-weight: lighter;
  text-align: center;
}

.ic-heart{
  font-size: 14px;
  padding-bottom: 0px;
}
.ic-heart::before{
  font-weight: normal;
  font-size: 24px;
  font-family: "Material Icons";
  content: "\e87e"
}

.ic-search{
  font-size: 14px;
  padding-bottom: 0px;
}
.ic-search::before{
  font-weight: normal;
  font-size: 24px;
  font-family: "Material Icons";
  content: "\e8b6";
}

.ic-lang{
  font-size: 14px;
  padding-bottom: 0px;
}
.ic-lang::before{
  font-weight: normal;
  font-size: 24px;
  font-family: "Material Icons";
  content: "\e894";
}

.ic-star{
  font-size: 14px;
  padding-bottom: 0px;
}
.ic-star::before{
  font-weight: normal;
  font-size: 24px;
  font-family: "Material Icons";
  content: "\e83a";
}

nav.NavMenu{
  display: none;
  position: fixed; /*表示位置を固定*/
  z-index: 2; /*重ね順を変更*/
  top: 0; /*表示位置を指定*/
  left: 0; /*表示位置を指定*/
  background: #fff;/*背景を白にする*/
  color: #000; /*文字色を黒にする*/
  text-align: center; /*テキストを中央揃え*/
  width: 100%; /*全幅表示*/
  height: 100%;
  transform: translateY(-100%); /*ナビを上に隠す*/
  transition: all 0.6s; /*アニメーションの時間を指定*/
  }
.Togglespace{
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
}

.Toggle {
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 3;
}
.fixed{
  position: fixed;
  width: 100%;
  height: 100%;
}

/* Contents A Hero-image */
.conA {
  display: flex;
  flex-direction: column;
  align-items: center; /* adjusting top and bottom */
  justify-content: center; /* adjusting right and left */
  height: 90vh; /* the hight of each device's display. */
  min-height: 450px;
  color: var(--text-bright-color);
  background-position: center;
  background-size: cover; /* automatically adjusting a size of img fitting frame.*/
  /*color: #fff;
	color: var(--text-bright-color);
	text-align: center;*/
}

li {
  display: inline;
}

slider {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

slider > * {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  animation: slide 12s infinite;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
}

slide:nth-child(1) {
  left: 0%;
  animation-delay: -1s;
  background-image: url(pictures/hero-top.jpg);
  background-size: cover;
  background-position: center;
}

slide:nth-child(2) {
  animation-delay: 2s;
  background-image: url(pictures/Nemba.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(3) {
  animation-delay: 5s;
  background-image: url(pictures/Dotombori.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(4) {
  left: 0%;
  animation-delay: 8s;
  background-image: url(pictures/Kobe.jpg);
  background-size: cover;
  background-position: center;
}



@keyframes slide {
  0% {
    left: 100%;
    width: 100%;
  }
  5% {
    left: 0%;
  }
  25% {
    left: 0%;
  }
  30% {
    left: -100%;
    width: 100%;
  }
  30.0001% {
    left: -100%;
    width: 0%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

/* .class selector{...} let adapt only in same class. */
.conA h1 {
  font-family: "Times New Roman", Times, serif;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 11vw; /* 15vw = 15% of screensize of every devices*/
  letter-spacing: 0em; /* 1 em = 1 font-size */
}

.conA p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

/* making a link buttom */
.conA a.centerbutton {
  display: inline-block;
  margin: 20px; /* sapce of between content and outside*/
  padding: 10px 30px; /*space of inside of block*/
  background-color: rgba(253, 253, 253, 0.966);
  border: solid var(--text-bright-color);
  color: black;
  font-size: 14px;
  text-decoration: none; /* delete a default underline */
}

::before.slidechange{
  font-family: "Material Icons";
  content: "\e87e"
}


/* An event that the cursol is crossing on buttom. */
.conA a:hover {
  transition:all 0.1s ease-out;
    background-color:rgba(255, 255, 255, 0.205);
    color: var(--text-bright-color);
  
}

/* @media defines conditions and behavior under them.
If the display size is going to be larger than 768px,
it will be applied priority */
@media (min-width: 850px) {
  .conA h1 {
    font-size: 85px;
  }

  .conA p {
    font-size: 24px;
  }
}

@media (max-width: 850px){
  .navigation{
    display: none;
  }
 
  /*ナビメニューのスタイルを指定*/
nav.NavMenu{
  display: block;
  }
  
nav.NavMenu ul{
  background: rgba(255, 255, 255, 0.705); 
  width: 100%;
  margin: 0 auto;
  padding: 0;
  }
  
nav.NavMenu ul li{
  font-size: 1.1em;
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px dotted #333;
  }
  
nav.NavMenu ul li:last-child{
  padding-bottom: 0;
  border-bottom: none; /*最後のメニュー項目のみ下線を消す*/
  }
  
nav.NavMenu ul li a{
  display: block; /*クリックできる領域を広げる*/
  color: #000;
  padding: 1em 0;
  } 

  /*トグルボタンが押されたときに付与するクラス*/
nav.NavMenu.active{
  transform: translateY(0%);
  }
  /*トグルボタンのスタイルを指定*/

.navigation_brand{
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.Togglespace {
  display: flex;
}
.Toggle{
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-right: 20px;
}

.Toggle span {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  border-bottom: solid 3px rgb(161, 154, 154);
  -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
  -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
  transition: .35s ease-in-out;			/*変化の速度を指定*/
  left: 8px;
  z-index: 3;
}

.Toggle span:nth-child(1) {
  top: 12px;
}

.Toggle span:nth-child(2) {
  top: 24px;
}

.Toggle span:nth-child(3) {
  top: 36px;
}

/* 最初のspanをマイナス45度に */
.Toggle.active span:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
}





/* ConB */

.parent {
  position: relative;
}
.TEXT_OVERLAY {
  position: absolute;
  bottom: 45%;
  width: 100%;
}

.mySlides {
  height: 650px;
  width: 100%;
  margin-top: 3%;
}
.button_left {
  position: relative;
  bottom: 350px;
  right: 692px;
}
.button_right {
  position: relative;
  bottom: 353px;
  left: 690px;
}

.conB > * {
  box-sizing: border-box;
  color: rgb(230, 30, 186);
  margin-top: 1.5%;
  text-align: center;
  height: auto;
}

hr{
  margin-left: auto;
  margin-right: auto;
}

#hot {
  color: gray;
}
table {
  /* margin-left: 9%;
  margin-right: 9%; */
  margin-left: auto;
  margin-right: auto;  
  padding: 2%;

}

.movie > table {
  margin-left: auto;
  margin-right: auto;
}

tr,td {
  padding: 0.2%;
  margin-bottom: 5px;
}
.photo {
  position: relative;
  width: 360px;
  height: 281.5px;
  object-fit: cover;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: rgb(82, 79, 79);
  font-weight: bolder;
}
#more_article {
  padding-top: 3%;
}
.container {
  position: relative; /* because it is the parent of .overlay */
  width: 100%;
}
.container:hover .overlay {
  height: 50%;
}
.overlay {
  background-color: rgba(2, 2, 8, 0.9);
  transition: 0.5s ease;
  position: absolute; /* this is the child  of .container so position should be relate to it's parent so use absolute */
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.text_overlay {
  position: absolute;
  color: white;
  top: 20%;
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
  width: 100%;
}
.content {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-style: italic;
  color: rgb(218, 200, 200);
}
.readmore {
  font-size: 20px;
  color: white;
}
@media (max-width: 1200px) {
  .conB > * {
    box-sizing: border-box;
  }
  .conB h1 {
    color: rgb(230, 30, 186);
    margin-top: 5%;
  }
  #hot {
    color: gray;
  }
  /* table {
    margin-left: 9%;
    margin-right: 9%;
    padding: 2%;
  } */
  td {
    padding: 0.2%;
    display: flex;
    flex-direction: column;
  }
  .photo {
    width: 730px;
    height: 45vh;
  }
  a {
    text-decoration: none;
    color: rgb(82, 79, 79);
    font-weight: bolder;
  }
  #more_article {
    padding-top: 3%;
  }
  .container {
    position: relative; /* because it is the parent of .overlay */
    width: 100%;
  }
  .container:hover .overlay {
    height: 30%;
  }
  .overlay {
    background-color: rgba(2, 2, 8, 0.9);
    transition: 0.5s ease;
    position: absolute; /* this is the child  of .container so position should be relate to it's parent so use absolute */
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }
  .text_overlay {
    position: absolute;
    color: white;
    top: 20%;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
  }
  .content {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-style: italic;
    color: rgb(218, 200, 200);
  }
  .readmore {
    font-size: 25px;
    color: white;
  }
}
@media (max-width: 950px) {
  .conB h1 {
    color: rgb(230, 30, 186);
    margin-top: 5%;
  }
  #hot {
    color: gray;
  }
  /* table {
    margin-left: 9%;
    margin-right: 9%;
    padding: 2%;
  } */
  td {
    padding: 0.2%;
    display: flex;
    flex-direction: column;
  }
  .photo {
    position: relative;
    width: 100%;
    height: 45vh
  }
  a {
    text-decoration: none;
    color: rgb(82, 79, 79);
    font-weight: bolder;
  }
  #more_article {
    padding-top: 3%;
  }
  .container {
    position: relative; /* because it is the parent of .overlay */
    width: 100%;
  }
  .container:hover .overlay {
    height: 50%;
  }
  .overlay {
    background-color: rgba(2, 2, 8, 0.9);
    transition: 0.5s ease;
    position: absolute; /* this is the child  of .container so position should be relate to it's parent so use absolute */
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }
  .text_overlay {
    position: absolute;
    color: white;
    top: 20%;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
  }
  .content {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-style: italic;
    color: rgb(218, 200, 200);
  }
  .readmore {
    font-size: 25px;
    color: white;
  }
}
@media (max-width: 850px) {
  .conB h1 {
    color: rgb(230, 30, 186);
    margin-top: 5%;
  }
  #hot {
    color: gray;
  }
  /* table {
    margin-left: 9%;
    margin-right: 9%;
    padding: 2%;
  } */
  td {
    padding: 0.2%;
    display: flex;
    flex-direction: column;
  }
  .photo {
    position: relative;
    width: 100%;
    height: 45vh;
  }
  a {
    text-decoration: none;
    color: rgb(82, 79, 79);
    font-weight: bolder;
  }
  #more_article {
    padding-top: 3%;
  }
  .container {
    position: relative; /* because it is the parent of .overlay */
    width: 100%;
  }
  .container:hover .overlay {
    height: 50%;
  }
  .overlay {
    background-color: rgba(2, 2, 8, 0.9);
    transition: 0.5s ease;
    position: absolute; /* this is the child  of .container so position should be relate to it's parent so use absolute */
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }
  .text_overlay {
    position: absolute;
    color: white;
    top: 20%;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
  }
  .content {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-style: italic;
    color: rgb(218, 200, 200);
  }
  .readmore {
    font-size: 25px;
    color: white;
  }
}
@media (max-width: 500px) {
  .conB h1 {
    color: rgb(230, 30, 186);
    margin-top: 5%;
  }
  #hot {
    color: gray;
  }
  /* table {
    margin-left: 9%;
    margin-right: 9%;
    padding: 2%;
  } */
  td {
    padding: 0.2%;
    display: flex;
    flex-direction: column;
  }
  .photo {
    position: relative;
    width: 100%;
    height: 45vh;
  }
  a {
    text-decoration: none;
    color: rgb(82, 79, 79);
    font-weight: bolder;
  }
  #more_article {
    padding-top: 3%;
  }
  .container {
    position: relative; /* because it is the parent of .overlay */
    width: 100%;
  }
  .container:hover .overlay {
    height: 50%;
  }
  .overlay {
    background-color: rgba(2, 2, 8, 0.9);
    transition: 0.5s ease;
    position: absolute; /* this is the child  of .container so position should be relate to it's parent so use absolute */
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }
  .text_overlay {
    position: absolute;
    color: white;
    top: 10%;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
  }
  .content {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-style: italic;
    color: rgb(218, 200, 200);
  }
  .readmore {
    font-size: 25px;
    color: white;
  }
}
